* {
    box-sizing: border-box;
}

body {
    background-color: #1B2021;
}

h1 {
    color: whitesmoke;
    font-size: 1.3rem;
    padding: 1rem;
    text-transform: uppercase;
}

.link-entrenar {
    text-decoration: none;
}
.link-entrenar::after {
    padding-left: 5px;
    content: " " url(../img/icons/right-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
   
}