* {
    box-sizing: border-box;
}

body {
    background-color: #1B2021;
}

h1 {
    color: whitesmoke;
    font-size: 1.3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.link-entrenar {
    text-decoration: none;
}
.link-entrenar::after {
    padding-left: 5px;
    content: " " url(../img/icons/right-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
   
}

@media (min-width: 992px) { 

    .home {
        padding:2rem;
        display: flex;
        flex-direction: column;
        
    } 

    .home img {
        max-width: 600px;
        margin: auto;
    }

    .home-iniciar-sesion {
        text-align: center;
        font-size: 1.2rem;
        justify-content: center !important;
    }

    .home-toogle {
      margin: 0 1rem;
    
    }
}